*
{
	margin: 0;
	padding: 0;
}
#index
{
	background-color: #FFC300;
	padding-top: 10%;
	padding-bottom: 90%;
}
#index .form-container
{
	width:400px;
	height:auto;
	padding: 20px 40px;
	background-color: white;
	border-radius: 20px;
	box-shadow:0 0 10px 0 #000;
	margin: auto;
	font-size: 18px;
}
#index ul.list
{
	list-style-type:none;
	text-align: center;
	padding-left: 40px;
}
#index ul.list li
{
	width: 250px;
	margin-bottom: 15px;
}
#index ul.list li inpput
{
	text-align:center;
	border:none;
	background-color: #ded3d3;
	border-radius: 5px;
}
#index ul.list li input[type="button"]
{
	width: 230px;
	height: 30px;
	color: #555;
}
#index ul h4
{
	text-align: center;
	color:#D00000;
	font-size: 18px;
	padding-right:20px;
}
#index ul h6
{
	font-size: 18px;
	padding-right:20px;
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #D00000;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}
.popup .Submit
{
	width: 210px;
}
.popup .Submit:hover {
  color: #D00000;
}
@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}