body {
  font-size: 1.2rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}


[role="main"] {
  padding-top: 128px; /* Space for fixed navbar */
}


/*
 * Table
 */
.users-table-scrollbar
{
  position: relative;
  overflow: auto;
}
.sticky-top
{
  background: #cccccc;
}


/*
 * USERS PAGE
 */
#collapse-new-user .card
{
  width: 600px;
}
#deleteUserLabel
{
  font-weight: bolder;
}
.alert
{
  position: fixed;
  top: -80px;
  z-index: 5000;
  margin: auto;
  min-width: 400px;
}
#users-table th , #users-table td
{
  vertical-align: middle;
}
#confirmPassError
{
  font-size: 12px;
  color: #d00000;
}
.capitalize
{
  text-transform: capitalize;
}

/*
 * DASHBOARD
 */
.status-error
{
  color: #D00000;
}
.status-success
{
  color: #05b600
}
.table-button {
  color: #0B98DE !important;
}
