body {
  font-size: 1.2rem;
  overflow: hidden;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * TABLE
 */
table {
  border-collapse: collapse;
  width: 100%;
  background-color: white;
}
td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}
tr:nth-child(odd) {
  background-color: #c3c3c3;
}
#billing-table
{
  position: absolute;
  top: 199px;
  bottom: 0;
  right: 0;
  left: 0;
  overflow-y: scroll;
}
.table-button
{
  font-size:25px;
  color: #0B98DE;
}
.sticky-top
{
  background: #cccccc;
}
.search
{
  position: absolute;
  top: 128px;
}
