@media (min-width: 576px) {
    .modal-dialog{
        max-width: 1800px !important;
    }
}

body {
    font-size: 1.2rem;
}

.container {
    margin-left: 25%;
    margin-right: 25%;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

#searchGrid {
    margin-top: 155px;
    margin-left: -40px;
  }
  #searchGrid .row{
    height:100%;
    width: 100%;
    background-color: #f2f2f2;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;

  }
  #searchGrid .col-md{
    width: 220px;
    height: 170px;
    text-align: center;
    font-size:17px;
    border: 10px solid #ffffff;
  }

#searchRoomButton {
    background-color: #fe9f26;
    border-color: #fe9f26;
    margin-left: 33%;
}

#searchNameButton {
    background-color: #fe9f26;
    border-color: #fe9f26;
    margin-left: 33%;
}

#searchIdButton {
    background-color: #fe9f26;
    border-color: #fe9f26;
    margin-left: 33%;
}

.searchHeader {
    font-weight: bold;
    text-align: center;
    display: block;
}

.modal-body{
    overflow: auto;
}
