body {
  font-size: 1.2rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}


#chart{
  margin-top: 10px;
  margin-left: 300px;
}
#roomGrid {
  margin-top: 155px;
  margin-left: -40px;
}
#roomGrid .row{
  height:100%;
  width: 100%;
  background-color: #f2f2f2;
}
#roomGrid .col-md{
  width: 220px;
  height: 170px;
  text-align: center;
  font-size:17px;
  border: 10px solid #ffffff;
}
/*
 * Report TABLE
 */
#reportTable
{
  position: absolute;
  top: 170px;
  bottom: 0;
  right: 0;
  left: 0;
  overflow-y: scroll;
}
table.reportTable {
  font-family: "Times New Roman", Times, serif;
  border: 1px solid #AAAAAA;
  background-color: #FFFFFF;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
table.reportTable td, table.reportTable th {
  border: 1px solid #AAAAAA;
  padding: 3px 2px;
}
table.reportTable tbody td {
  font-size: 13px;
}
table.reportTable tr:nth-child(7) {
  background: #CCCCCC;
}
table.reportTable thead {
  background: #0B98DE;
  background: -moz-linear-gradient(top, #48b2e6 0%, #23a2e1 66%, #0B98DE 100%);
  background: -webkit-linear-gradient(top, #48b2e6 0%, #23a2e1 66%, #0B98DE 100%);
  background: linear-gradient(to bottom, #48b2e6 0%, #23a2e1 66%, #0B98DE 100%);
  border-bottom: 2px solid #444444;
  vertical-align: bottom;
}
table.reportTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  border-left: 2px solid #FFFFFF;
}
table.reportTable thead th:first-child {
  border-left: none;
}

/*
 * Report TABLE
 */
#roomsTable
{
  position: absolute;
  top: 170px;
  bottom: 0;
  right: 0;
  left: 0;
  overflow-y: scroll;
}
table.roomsTable {
  font-family: "Times New Roman", Times, serif;
  border: 1px solid #AAAAAA;
  background-color: #FFFFFF;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
table.roomsTable td, table.roomsTable th {
  border: 1px solid #AAAAAA;
  padding: 3px 2px;
}
table.roomsTable tbody td {
  font-size: 13px;
  color: #000000;
}
table.roomsTable tr:nth-child(even) {
  background: #CCCCCC;
}
table.roomsTable thead {
  background: #0B98DE;
  background: -moz-linear-gradient(top, #48b2e6 0%, #23a2e1 66%, #0B98DE 100%);
  background: -webkit-linear-gradient(top, #48b2e6 0%, #23a2e1 66%, #0B98DE 100%);
  background: linear-gradient(to bottom, #48b2e6 0%, #23a2e1 66%, #0B98DE 100%);
  border-bottom: 2px solid #444444;
}
table.roomsTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  border-left: 2px solid #FFFFFF;
}
table.roomsTable thead th:first-child {
  border-left: none;
}
/*
 * Modify TABLE
 */
#modifyTable
{
  position: absolute;
  top: 170px;
  bottom: 0;
  right: 0;
  left: 1500px;
  overflow-y: scroll;
}
table.modifyTable {
  font-family: "Times New Roman", Times, serif;
  border: 2px solid #0B98DE;
  background-color: #CCCCCC;
  width: 220px;
  text-align: center;
  border-collapse: collapse;
}
table.modifyTable td, table.modifyTable th {
  border: 2px solid #0B98DE;
  padding: 2px 2px;
}
table.modifyTable tbody td {
  font-size: 13px;
  font-weight: bold;
  color: #000000;
}
table.modifyTable button{
  display: inline-block;
  width: 190px;
  background-color: #CCCCCC
}

[role="main"] {
  padding-top: 128px; /* Space for fixed navbar */
}
