body {
  font-size: 1.2rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 120px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  background-color: #f1f1f1;
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 128px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 400;
  text-align: right;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #555;
}

.sidebar .nav-link.active {
  color: #D00000;
}

.sidebar .nav-link a:hover{
  color: #D00000;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Nav Bar
 */
#nav-bar
{
  position: sticky;
  top: 0;
  z-index: 500;
}
.navbar-brand img
{
  height: 100px;
  padding-left: 5px;
}
.navbar .nav-link
{
  font-weight: 600;
}
a.nav-link{
  color: rgba(0,0,0,0.5);
}
a.nav-link:hover
{
  color: rgba(0,0,0,0.7);
}
a.nav-link.active
{
  color: #D00000;
}
#nav-info
{
  text-align: right;
  position: absolute;
  right: 12px;
  top: 5px;
  font-size: 13px;
}
.nav-rule
{
  border: 1px solid #555;
  margin: 0px;
}
#logout-button
{
  margin-left: 20px;
}
