body {
  font-size: 1.2rem;
}

body.overlay-open
{
  overflow: hidden;
}

/*------------------Availabiltiy----------------*/
#available
{
  text-align: center;
  background-color: rgba(208, 0, 0, 0.85);
  padding-top: 10px;
  padding-bottom: 20px;
}
#available h1
{
  font-size: 30px;
  font-weight: bold;
  color: #FFFFFF;
  letter-spacing: 2px;
}
#available h5
{
  color: white;
}
#available input
{
  height: 45px;
  width: 100%;
}
#available select
{
  height: 45px;
  width: 100%;
}
.button {
  height: 45px;
  background-color: #FFC300;
  border: none;
  color: #D00000;
  font-size: 25px;
}
.dropdown-content a:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #f1f1f1;}
.dropdown:hover .dropbtn {background-color: #f1f1f1;}
/*---------------------Room-------------------------*/
#rooms {
  background-color: white;
}

#rooms .room {
  padding-top: 40px;
}

#rooms .rates {
  padding-top: 50px;
  text-align: center;
}

#rooms .rates h6 {
  font-size: 12px;
}

#rooms .rates h5 {
  font-size: 30px;
}

#rooms .rates h4 {
  font-size: 40px;
  color: #0B98DE;
}

#rooms .king-button {
  width: 250px;
  height: 40px;
}

#rooms .king-button:hover {
  color: #D00000;
}


table {
  border-collapse: collapse;
  width: 100%;
  background-color: white;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(odd) {
  background-color: #c3c3c3;
}

#exp {
  float: left;
  width: 20%;
  padding: 11px;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 30px auto;
  margin-top: 100px;
  padding: 20px;
  background: #fff;
  border-radius: 20px;
  width: 75%;
  transition: all 300ms ease-in-out;
  max-width: 1100px;
  min-width: 750px;
  max-height: 90%;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Times;
}

.close {
  position: absolute;
  top: 5px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup .close:hover {
  color: #D00000;
}

.popup .Submit:hover {
  color: #D00000;
}

.required
{
  color: red;
}

.booking-scrollbar
{
  position: relative;
  overflow: auto;
}


#comments
{
  width: 100%;
}
