*
{
	margin: 0;
	padding: 0;
}
/*------------Navigation------*/
#nav-bar
{
	position: sticky;
	top: 0;
	z-index: 500;
}
.navbar-brand img
{
	height: 100px;
	padding-left: 5px;
}
.navbar-nav li
{
	padding: 0 10px;
}
.navbar-nav li a 
{
	float: right;
	text-align: left;
}
#nav-bar .nav-link2
{
	padding: 6px 10px;
	float: right;
	text-align: left;
	font-weight: 600;
	font-size: 28px;
	color: #FFC300;
	background: #D00000;
}
#nav-bar .nav-link2:hover
{
	color: #555!important;
}
#nav-bar ul li a:hover
{
	color: #D00000!important;
}
.navbar
{
	background: #FFFFFF;
}
.navbar-toggler
{
	border: none!important;
}
.nav-link
{
	color: #555!important;
	font-weight: 600;
	font-size: 28px;
}
/*------------Slider------------*/
#slider
{
	font-family: Times;
	width: 100%;
	left:0 !important;
}
.carousel-caption
{
	top: 50%;
	transform: translateY(-50%);
	transform: translateX(-22%);
	bottom: initial!important;
}
#slider h5
{
	text-align: left;
	margin-left: 30px;
	font-size:60px;
}
.carousel-caption 
{
    background: rgba(0, 0, 0, 0.60);
}
/*------------------Availabiltiy----------------*/
#available 
{
	font-family: Times;
	text-align: center;
	background-color: rgba(208, 0, 0,0.85);
	color: #Black;
	padding-top: 10px;
	padding-bottom: 50px;
}
#available h1
{
	font-size: 30px;
	font-weight: bold;
}
#available input 
{
	height: 45px;
	width: 250px;
}
.dropbtn
{
	height: 45px;
	width: 160px;
	border: none;
	color: #Black;
	padding: 5 50px;
	font-size: 25px;
}
.dropdown
{
	position: relative;
	display: inline-block;
}
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 45px;
	display: block;
}
.button {
	height: 45px;
	width: 250px;
	background-color: #FFC300;
	border: none;
	color: #D00000;
	font-size: 25px;
}
.dropdown-content a:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #f1f1f1;}
.dropdown:hover .dropbtn {background-color: #f1f1f1;}

/*------------------Home----------------*/
#home
{
	text-align: center;
	padding-top: 30px;
	font-size: 25px;
	font-family: Times;
	color: #D00000;
}
#home h2
{
	font-size: 80px;
	font-family: Times;
}
.home-quote
{
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 29px;
	color: #555;
	
}
.home-content
{
	text-align: left;
	padding-top: 20px;
	padding-bottom: 50px;
	padding-left: 50px;
	padding-right: 50px;
	color: #555;
}
/*------------------------Services---------------------*/
#services
{
	float: left;
	padding-top: 50px;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 10px;
	text-align: center;
	font-family: Times;
	background-color: grey;
}
.column 
{
  float: left;
  width: 33.33%;
  padding: 5px;
}
.row::after 
{
  content: "";
  clear: both;
  display: table;
}
.column img
{
	filter:grayscale(0);
}
.column img:hover
{
	filter:grayscale(1);
}
#services h2
{
	font-size: 25px;
	color: #FFC300;
}
/*--------------------------Rooms-------------------------*/
#rooms
{
	padding-top: 50px;
}
#rooms h1
{
	text-align: center;
	font-family: Times;
	font-weight: bold;
	font-size: 50px;
	color: #555;
	text-decoration: underline;
	text-decoration-color: #FFC300; 
	letter-spacing: 1.75px;
	padding-top: 50px;
}
#rooms h2
{
	text-align: center;
	font-family: Times;
	font-size: 20px;
	color: #D00000;
}
